/* Assignemnt */
/* Assignemnt */
/* 
position: relative;
width: 1440px;
height: 1024px;

background: #FBFBFF; */

.body {
  width: 1440px;
  height: 1024px;
  top: 0px;
  margin: 0 auto;
  background: #fbfbff;
}

.jobCardOuter {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  justify-content: space-evenly;
  gap: 16px; /* distance between child elements */
  padding-top: 40px; /* optional spacing from top */
}

.jobCardUpper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 16px; /* space between cards */
  padding: 20px;
}