.jobCard {
  /* Frame 57 */
  position: relative;
  width: 316px;
  height: 360px;

  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(211, 211, 211, 0.15);
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.jobLogo {
  /* Frame 48102900 */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  width: 83.46px;
  height: 82px;
  left: calc(50% - 83.46px / 2 - 100.27px);
  top: calc(50% - 82px / 2 - 123px);

  background: linear-gradient(180deg, #fefefd 0%, #f1f1f1 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10.25px rgba(148, 148, 148, 0.25);
  border-radius: 13.1786px;
  margin-top: 16px; /* Adjust this value for spacing */
  margin-left: 16px;
  margin-right: auto; /* Center horizontally inside .jobCard */
}

.jobLogoImg {
  width: 80%;
  height: 80%;
  object-fit: contain;
  /* or 'contain', see below */
  /* border-radius: 10px; optional, for rounded corners */
}

.jobTime {
  /* Frame 48102943 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  gap: 10px;

  width: 75px;
  height: 33px;
  left: 222px;
  top: 16px;

  background: #b0d9ff;
  border-radius: 10px;
  margin-top: -78px;
  margin-left: 222px;
}

.jobTimeText {
  /* 24h Ago */

  width: 55px;
  height: 19px;
  text-wrap: nowrap;
  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.jobTitle {
  /* Full Stack Developer */
  position: absolute;
  width: 190px;
  height: 27px;
  left: 16px;
  top: 117px;
  text-wrap: nowrap;

  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

.exp-sal-ons {
  /* Frame 48102941 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 263.08px;
  height: 22px;
  left: 16px;
  top: 160px;
}

.experience {
  /* Frame 48102936 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 94.9px;
  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experienceicon {
  /* Frame 48102935 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.9px;
  gap: 9px;

  width: 18.9px;
  height: 15.3px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencetext {
  /* 1-3 yr Exp */

  width: 72px;
  height: 22px;
  text-wrap: nowrap;

  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  color: #5a5a5a;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.onsite {
  /* Frame 48102938 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 70px;
  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.onsiteicon {
  /* Frame 48102937 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.863636px;
  gap: 8.64px;

  width: 19px;
  height: 16.41px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.onsiteText {
  /* Onsite */

  width: 47px;
  height: 22px;
  font-family: "Satoshi-Variable";

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  color: #5a5a5a;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.salary {
  /* Frame 48102940 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;

  width: 66.18px;
  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.salaryicon {
  /* Frame 48102939 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.909091px;
  gap: 9.09px;

  width: 18.18px;
  height: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.salaryText {
  /* 12LPA */

  width: 44px;
  height: 22px;
  text-wrap: nowrap;

  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  color: #5a5a5a;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.jobdesc {
  /* A user-friendly interface lets you browse stunning photos and videos Filter destinations based on interests and travel style, and create personalized */

  position: absolute;
  width: 300px;
  height: 76px;
  left: 9px;
  top: 202px;

  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #555555;
}

.jobdesc ul {
  padding-left: 20px;
  list-style-type: disc;
  margin: 0;
}

.jobdesc li {
  font-family: "Satoshi-Variable";
  margin-bottom: 4px;
  line-height: 1.4;
}

.applybutton {
  /* Frame 48102944 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 10px;

  position: absolute;
  width: 284px;
  height: 46px;
  left: calc(50% - 284px / 2);
  top: 298px;

  background: #00aaff;
  border: 1px solid #00aaff;
  box-shadow: 0px 0px 14px rgba(93, 93, 93, 0.15);
  border-radius: 10px;
}

.applybuttontext {
  /* Apply Now */

  width: 81px;
  height: 22px;

  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
